# -----------------------------------------------------------------------------
# Variáveis de Ambiente e Segredos (NUNCA comitar)
# -----------------------------------------------------------------------------
.env
*.env
!.env.example

# -----------------------------------------------------------------------------
# Binários e Build do Go
# -----------------------------------------------------------------------------
/bin/
/dist/
*.exe
*.exe-*
*.dll
*.so
*.dylib
*.test
*.out
go_delivery # Binário gerado se você rodar 'go build' na raiz

# -----------------------------------------------------------------------------
# IDEs e Editores de Código
# -----------------------------------------------------------------------------
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# -----------------------------------------------------------------------------
# Docker & Logs
# -----------------------------------------------------------------------------
*.log
/postgres_data/
/redis_data/